<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wonder Train</title>
</head>
<body>
    <div>
        <h1><a href="/">The Wonder Train Blog</a></h1>
    </div>

    <div>
        <p>published: 08.04.2020, 9:50</p>
        <h2><a href=""> My first Post</a></h2>
        <p>The trainers for the program were drawn from both the local and the international community. They had years of teaching experience which they shared with other teachers to help them improve the student’s achievements in their various schools.</p>
    </div>

    <div>
        <p>published: 20.04.2020, 10:50</p>
        <h2><a href=""> My Second Post</a></h2>
        <p>In a whole, I believe the practical leadership session was a great one & if the various heads of the public second cycle schools in the country would be allowed to be innovative without too much government & political interference, I believe the heads of the public second cycle schools have very fantastic ideas that can help improve their various schools and students; if they would be allowed to think outside the box.</p>
    </div>
</body>
</html>